#menu ul
{
list-style:none;
}
#menu ul li
{
background:red;
border:1px solid white;
width:120px;
height:35px;
text-align:center;
line-height:35px;
float:left;
position:relative;
}
#menu ul li a
{
text-decoration:none;
color:white;
display:block;
}
#menu ul li a:hover
{
background:green;
}
#menu ul ul
{
position:absolute;
display:none;
}
#menu ul li:hover  ul li
{
display:none;
}
